<main>
    <article>
        <h2></h2> <!--Name restaurant -->
        <img src="" alt="Picture of the restaurant">
        <section> <!--Location -->
            <img src="../../static/images/location.png" alt="Location icon">
            <p></p> 
        </section>
        <section> <!--Opening/closing time -->
            <img src="../../static/images/time.png" alt="Time icon">
            <p></p> 
        </section>
        <section> <!--Reviewscore -->
            <img src="../../static/images/star.png" alt="Star icon">
        </section>
        <section> <!--Like/dislike buttons -->
            <form action="/dislike" method="POST">
                <input type="image" src="../../static/images/dislike.png" alt="Dislike button">
            </form>
            <form action="/like" method="POST">
                <input type="image" src="../../static/images/likes.png" alt="Like button">
            </form>
        </section>
    </article>
</main>