<header>
  <section>
    <img src="" alt="Weather icon">
    <p></p>
  </section>
  <img src="../../static/images/logo.png" alt="Logo Dinder" />
</header>

<script src="static/javascript/script.js"></script>
