<nav>
    <ul>
        <!-- home -->
        <li>
            <a href="../home.handlebars"><img src="../../static/images/home.png" alt="Home"></a>
        </li>
        <!-- likes -->
        <li>
            <a href="../likes.handlebars"><img src="../../static/images/likes.png" alt="Likes"></a>
        </li>
        <!-- account -->
        <li>
            <a href="../overviewaccount.handlebars"><img src="../../static/images/account.png" alt="Account"></a>
        </li>
    </ul>
</nav>