<nav>
    <ul>
        <!-- home -->
        <li>
            <form action="/home" method="POST">
                <input type="image" src="../../static/images/home.png" alt="Home">
            </form>
        </li>
        <!-- likes -->
        <li>
            <form action="/likes" method="POST">
                <input type="image" src="../../static/images/likes.png" alt="Likes">
            </form>
        </li>
        <!-- account -->
        <li>
            <form action="/account" method="POST">
                <input type="image" src="../../static/images/account.png" alt="Account">
            </form>
        </li>
    </ul>
</nav>