<body id="filter">
  <a href="likes"><img src="../static/images/back.png" alt="" /></a>
  <form action="/filteroutput" , method="POST">
    <fieldset>
      <label for="distance">Max. distance (km)</label><br>
      <input
        type="range"
        name="distance"
        min="1"
        max="5"
        value="5"
        oninput="this.nextElementSibling.value = this.value"
        required
      />
      <output>5</output>
    </fieldset>
    <fieldset>
      <label for="stars">Min. stars</label><br>
      <input
        type="range"
        name="stars"
        min="1"
        max="5"
        value="0"
        oninput="this.nextElementSibling.value = this.value"
        required
      />
      <output>1</output>
    </fieldset>
    <fieldset>
      <label for="price">Price</label>
      <div>
        <input type="radio" id="€" name="price" value="€" required />
        <label for="€">€</label>
        <input type="radio" id="€€" name="price" value="€€" required />
        <label for="€€">€€</label>
        <input type="radio" id="€€€" name="price" value="€€€" required />
        <label for="€€€">€€€</label>
      </div>
    </fieldset>
    <button type="submit">Filter</button>
  </form>
  <form action="/clearfilter" method="POST">
    <button id="clear">Clear filter</button>
  </form>
</body>