<body class="forms">
     
{{>header}}

<main>
      <h1> Login </h1>

      <form action="/login" id="login" method="POST">
      <fieldset>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="formlogin"
            placeholder="Enter Email"
          />
       </fieldset>

       <fieldset>        
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="formlogin"
            placeholder="Enter Password"
          />
        </fieldset> 
      </form>

        <button type="submit" form="login">Login</button>
      
      <a href="createaccount">Register</a>
</main>

</body>