{{>header}}

<main class="account">

<section>
    <h2>Account</h1>
</section>

<article>
<ul>
    <li class="bold">First name</li>
    <li>{{fname}}</li>
    <li class="bold">Last name</li>
    <li>{{lname}}</li>
    <li class="bold">Email</li>
    <li>{{email}}</li>
</ul>
</article>

<a class="account-logout" href="/users/logout"><span>Log Out</span></a>


<form method='POST' action="/delete" id="delete">
    <button class="account-delete" type="submit" name="deleteId" value="{{this._id}}">Delete Account</button>
</form>

</main>     

{{>nav}} 