<body>

    {{>header}}

<main class="forms">
    <form action="/update" method="POST">
        <fieldset>
          <label for="fname">First name</label>
          <input
            type="fname"
            id="fname"
            name="fname"
            placeholder="Enter Name"
            value=""
          />
        </fieldset>

        <fieldset>
          <label for="lname">Last name</label>
          <input
            type="lname"
            id="lname"
            name="lname"
            placeholder="Enter Name"
            value=""
          />
        </fieldset>


        <fieldset>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter Email"
            value=""
          />
        </fieldset>
        <fieldset>
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Create Password"
            value=""
          />
        </fieldset>
        <fieldset>
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            placeholder="Confirm Password"
            value=""
          />
        </fieldset>
        
        <button type="submit" form="register" id="update">
            Update
        </button>   
    </form>

</main>

{{>nav}}
    
</body>



