<main class="welcome">
    <img src="static/images/logo.png" alt="">

    <button>Start</button>

    <div class="gettingstarted">
        <a href="createaccount">Create Account</a>
        <a href="login">Login</a>
    </div>


    <script src="static/javascript/welcome.js"></script>
</main>