<main class="welcome">
    <img class="hide delay" src="static/images/logo.png" alt="">

    <button class="hide delay">Start</button>

    <div class="gettingstarted show opacitydelay">
        <a href="createaccount">Create Account</a>
        <a href="login">Login</a>
    </div>


    <script src="static/javascript/welcome.js"></script>
</main>
