.account {

    section {
        width: 100%;
    }

    h2{ 
        padding: 0.5em;
        background-color: var( --light-color);
        font-size: 1.5em;
        font-weight: 300; 
        color: var(--button-color);
        text-align: center;
    }

    article {
        background-color: white;
        width: 90%;
        margin: 4em auto 0;
        border-radius: 2rem;
        padding-bottom: 2rem;
    }

    ul {
        margin-left: 2rem;
        list-style-type: none;
    }

    li {
        font-size: 1.3rem;
        color: #304d6e;
        font-weight: bold;
    }
    .bold {
        font-weight: bolder;
        margin-top: 2rem;
        padding-top: 1rem;
        font-size: 1.3rem;
        color: var(--primary-font-color);
    }

    form {
        width: 100%;
    }

    .account-delete {
        display: block;

        height: 3em;
        width: 12em;

        margin: 1rem auto;

        background-color: var(--like-dislike-buttons);
        border-radius: 2em;
        border: none; 
        box-shadow: var(--button-shadow);

        font-size: 1.2em;
        text-decoration: none;
        text-align: center;
        font-weight: 300;
        color: var(--button-color);
    }

    .account-logout {
        //position: absolute;
        height: 3em;
        width: 12em;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 1rem auto;

        //transform: translate(-50%, -50%);
        //left: 50%;
        //bottom: 25%;

        background-color: var(--like-dislike-buttons);
        border-radius: 2em;
        border: none;
        box-shadow: var(--button-shadow);

        font-size: 1.2rem;
        text-decoration: none;
        font-weight: 300;
        color: var(--button-color);
    }


}