.card {
  position: relative;
  width: 86%;
  height: 35em;
  margin: 20% 0 20% 7%;

  background-color: var(--input-color);
  border-radius: 1em;
  box-shadow: 0 0.7em 0.7em var(--light-shadow-color);

  h2 {
    position: absolute;
    z-index: 100;
    transform: translateX(-50%);

    left: 50%;
    top: -6%;

    color: var(--input-color);
    font-weight: 300;
    text-align: center;
  }

  > img,
  .shadow {
    position: absolute;
    width: 18em;
    height: 23em;

    margin-left: 10%;
    top: -10%;

    object-fit: cover;
    border-radius: 1em;
  }

  .shadow {
    box-shadow: inset 0 5em 3em var(--dark-shadow-color);
  }

  section {
    position: relative;

    img {
      position: absolute;
      height: 1em;
    }

    p {
      font-weight: 200;
      font-size: 0.9em;
      color: var(--secondary-font-color);
    }
  }

  .location {
    top: 60%;

    img {
      left: 2.5em;
    }

    p {
      position: absolute;
      left: 4em;
    }
  }

  .time {
    top: 66%;

    img {
      left: 2.3em;
    }

    p {
      position: absolute;
      left: 4.3em;
    }
  }

  .stars{
      img{
          height: 2em;
          top: 25em;
          left: 6em;
      }
  }

  form {
    position: absolute;
    margin-top: 130%;

    input {
      height: 5em;
    }
  }

  form:first-of-type {
    left: 8%;
  }

  form:last-of-type {
    right: 8%;
  }
}

.card.like{
  animation: like 2s;
}

@keyframes like{
  to {
    transform: rotate(20deg) translateX(30em) translateY(-20em);
  }
}

.card.dislike{
  animation: dislike 2s;
}

@keyframes dislike{
  to {
    transform: rotate(-20deg) translateX(-30em) translateY(-20em);
  }
}