.card{
    width: 100%;

    img{
        width: 80%;
        margin-left: 10%;
    }

    section{
        img{
            width: 1em;
            margin-left: 10%;
        }

        form input{
            width: 7em;
        }
    }
}