#filter{

    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;

    a img{
        width: 3em;
    }

    form{
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-family: Poppins;
        font-weight: 300;
    }

    form fieldset{
        border: none;
        margin: 0;
        padding: 0;
    }

    form fieldset input[type="radio"]{
        margin-right: 0.5em;
        width: 1.5em;
        height: 1.5em;
        accent-color: var(--primary-font-color);
    }

    form fieldset input[type="range"] {
        -webkit-appearance: none;
        background: var(--input-color);
        border-radius: 1em;
    }
      
    form fieldset input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background: var(--primary-font-color);
    }

    form fieldset label{
        color: var(--emphasized-font-color);
    }

    form fieldset div label{
        color: var(--primary-font-color);
    }

    form fieldset output{
        color: var(--primary-font-color);
    }

    form button{
        align-self: flex-start;
        padding: 0.75em;
        background-color: var(--button-color);
        border-radius: 1em;
        border: none;
        font-size: 0.75em;
        font-family: Poppins;
        font-weight: 300;
    }

    #clear{
        background-color: var(--nav-color);
        border: solid 0.25em;
        border-color: var(--button-color);
    }
}