#filter{

    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;

    a img{
        width: 3em;
    }

    form{
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        font-family: Poppins;
        font-weight: 300;
    }

    form fieldset{
        border: none;
        margin: 0;
        padding: 0;
    }

    form fieldset input[type="radio"]{
        margin-right: 0.5em;
    }

    form button{
        align-self: flex-start;
        padding: 0.75em;
        background-color: var(--button-color);
        border-radius: 1em;
        border: none;
        font-size: 0.75em;
        font-family: Poppins;
        font-weight: 300;
    }

    #clear{
        background-color: var(--nav-color);
        border: solid 0.25em;
        border-color: var(--button-color);
    }
}