header {
  height: 6em;
  width: 100%;

  img {
    position: absolute;
    height: 3em;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 5%;
  }

  section {
    img {
        position: absolute;
        left: 3em;
        top: 2.5em;
    }

    p {
        position: absolute;
        top: 4em;
        left: 2em;
        font-weight: 300;
        font-size: .8em;
    }
  }
}
