#likes {
  //   overflow: scroll;

  #head {
    padding: 2.2em;
    background-color: var(--nav-color);
    margin-bottom: 1em;
    color: var(--primary-font-color);
    position: relative;

    * {
      position: absolute;
    }

    h1 {
      transform: translate(-50%, -50%);
      left: 50%;
      font-weight: 300;
    }

    img {
      width: 2.9em;
      right: 5%;
      bottom: 0.75em;
    }
  }

  article {
    background-color: var(--input-color);
    display: flex;
    height: 10em;
    position: relative;
    padding: 1em;
    margin: 1em 1em 2em 1em;
    border-radius: 1em;
    align-items: center;
    gap: 1em;
    box-shadow: 0 0.7em 0.7em var(--light-shadow-color);

    div > img {
      width: 8em;
      height: 8em;
      border-radius: 1em;
      object-fit: cover;
      transition: 1s;
    }

    h2 {
      font-size: 1.2em;
      top: 1em;
      font-weight: 300;
      color: var(--primary-font-color);
    }

    section {
      display: flex;
      gap: 0.5em;
    }

    div:last-of-type {
      * {
        position: absolute;
      }
    }

    @media (min-width: 35em) {
      max-width: 30em;
      transform: translateX(-50%);
      left: 50%;
    }

    .location {
      top: 3.2em;
      width: 10em;
      img {
        height: 1.3em;
      }

      p {
        top: -0.1em;
        left: 1.5em;
        font-weight: 200;
        font-size: 0.9em;
        color: var(--secondary-font-color);
      }
    }

    .time {
      transition: 1s;
      opacity: 100%;
      bottom: 2.2em;
      right: 0;
      width: 8em;
      img {
        width: 1em;
      }

      p {
        top: -0.15em;
        font-weight: 300;
        font-size: 0.9em;
        color: var(--secondary-font-color);
        left: 1.7em;
      }
    }

    .review {
      img {
        height: 1.3em;
      }
    }

    .price {
      top: 7em;
      width: 8em;
      p {
        color: var(--secondary-font-color);
        font-weight: 200;
      }
    }

    // button {
    //   right: 1.5em;
    //   bottom: 1.2em;
    //   background-color: var(--err-color);
    //   border: none;
    //   padding: 1em 3em 1em 3em;
    //   border-radius: 2em;
    //   color: var(--input-color);
    //   font-weight: 200;
    //   opacity: 0%;
    //   transition: 1s;
    // }

    form {
      position: absolute;
      width: 2.6em;
      height: 2.6em;
      right: 1em;
      bottom: 4em;
    }

    form input {
      width: 2.6em;
      opacity: 80%;
      left: 0;
      top: 0;
    }
  }
  article:last-of-type {
    margin-bottom: 3em;
  }
}

#likes > div {
  overflow: scroll;
  height: 40em;
}

/* Cool Javascript scroll animation */
.animate {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.animate.fade {
  opacity: 1;
}

// #likes article.unlike {
//   div > img {
//     width: 2em;
//   }

//   .time {
//     opacity: 0;
//   }

//   button {
//     opacity: 100%;
//   }
// }

#filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--background);
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  transform: translateX(100%);

  img {
    width: 3em;
  }

  form {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-family: Poppins;
    font-weight: 300;
  }

  form fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  form fieldset input[type="radio"] {
    margin-right: 0.2em;
    width: 1.5em;
    height: 1.5em;
    accent-color: var(--primary-font-color);
  }

  form fieldset input[type="range"] {
    -webkit-appearance: none;
    background: var(--input-color);
    border-radius: 1em;
  }

  form fieldset input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--primary-font-color);
  }

  form fieldset label {
    color: var(--emphasized-font-color);
  }

  form fieldset div label {
    color: var(--primary-font-color);
  }

  form fieldset output {
    color: var(--primary-font-color);
  }

  form button {
    align-self: flex-start;
    padding: 0.5em 1em;
    box-shadow: var(--button-shadow);
    border: none;
    border-radius: 3em;
    background-color: var(--button-color);
    font-size: 1em;
    color: var(--like-dislike-buttons);
    font-weight: 300;
  }

  #clear {
    background-color: var(--like-dislike-buttons);
    color: var(--button-color);
  }
}

#filter.show {
  transform: translateX(0);
}
