.welcome {
  * {
    position: absolute;
  }

  img {
    width: 80%;
    left: 10%;
    top: 25%;
  }

  button {
    width: 60%;
    height: 3.5em;
    left: 20%;
    top: 25%;
    margin-top: 60%;

    background-color: var(--like-dislike-buttons);
    box-shadow: var(--button-shadow);

    border-radius: 2em;
    border: none;

    font-weight: 300;
    font-size: 1.2em;
    color: var(--primary-font-color);
  }

  img.hide,
  button.hide {
    animation: hide 3s ease;
    animation-fill-mode: forwards;
  }

  div.gettingstarted {
    opacity: 0%;
    pointer-events: none;
  }

  div.gettingstarted.show {
    animation: show 2s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    pointer-events: all;
  }

  div.gettingstarted.opacitydelay {
    animation-delay: 5s;
  }

  img.delay{
    animation-delay: 3s;
  }

  button.delay{
    opacity: 0%;
  }

  a {
    height: 3.5em;
    width: 15em;

    padding: 1em 3em 1em 3em;
    left: 3.3em;

    background-color: var(--button-color);
    border-radius: 2em;
    box-shadow: var(--button-shadow);

    font-size: 1.2em;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
  }

  a:first-of-type {
    top: 16em;
    background-color: var(--like-dislike-buttons);
    color: var(--button-color);
  }

  a:last-of-type {
    top: 23em;
    color: var(--like-dislike-buttons);
    background-color: var(--button-color);
  }

  @media all and (min-width: 900px) {

    img {
      width: 30%;
      transform: translate(-50%, 50%);
      left: 50%;
      top: 10%;
    }
  
    button {
      width: 30%;
      transform: translate(-50%, 50%);
      left: 50%;
      top: 65%; 
      margin-top: 0;
    }
  
  
    a {
      transform: translate(-50%, 50%);
      height: 3.5em;
      width: 30em;
   
      padding: 1em 3em;
      left: 38em;
    
    }

  }
}

@keyframes hide {
  0% {
    top: 25%;
  }

  5% {
    top: 28%;
  }

  100% {
    top: -60%;
  }
}

@keyframes show {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}






