@import 'account', 'card', 'forms', 'header', 'likes', 'nav';

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root{
    --background: linear-gradient(#DFE9F2, #97A8BB);

}

body {
    background-image: var(--background);
}