*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

$background: linear-gradient(#DFE9F2, #97A8BB);
$nav-color: #CCD8E6;

:root{
    --background: #{$background};
    --nav-color: #{$nav-color};
}

body {
    background-image: var(--background);
}





@import 'account', 'card', 'forms', 'header', 'likes', 'nav';